.header {
    display: flex;
}

.w3-right {
    margin-left: auto;
}

@media only screen and (max-width: 768px){

}

.w3-navigation-bar {
    display: flex;
    justify-content: space-between;
    background-color: #4CAF50;
    box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.left a {
    float: left;
    display: block;
}

.left a:hover {
    background-color: white;
    color: black;
}

.right a {
    float: right;
    display: block;
}

.right a:hover {
    background-color: white;
    color: black;
}

.w3-side li:hover {
    background-color: #d1d1d1;
}

.w3-dark-grey:hover {
    color: #000;
    background-color: #d1d1d1;
}

.w3-row {
    display: flex;
}

.w3-exp {
    flex: 1;
}

.w3-center {
    flex: 1;
}

.w3 {
    flex: 1;
}

.w3-color {
    flex: 1;
}

.w3-bootstrap {
    flex: 1;
}

.w3-button-green:hover {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.3),0 2px 10px 0 rgba(0,0,0,0.2);
}

.w3-card-1 {
    flex: 1;
}

.w3-card-2 {
    flex: 1;
}

.w3-third {
    flex: 1;
}

.middle-hover:hover {
    background-color: white;
    color: black;
}

.footer-head {
    display: flex;
}

.w3-text-right {
    margin-left: auto;
}

.w3-button-light-grey:hover {
    background-color: #d1d1d1;
}

.w3-hover-text-green:hover {
    color: #4CAF50;
}

.w3-hover-text:hover {
    color: #4CAF50;
}
